* {
    scrollbar-width: thin;
}

body, div, a, h1, h2, h3, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --dark-blue: #142157;
    --medium-blue: #107acc;
    --light-blue: #def7ff;
    font-family: Georgia;

    height: 100dvh;
    max-width: 900px;
    margin: auto;

    background-image:  linear-gradient(#0006, transparent), url(images/fondo.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* --------------->>> curiosities SECTION <<<--------------- */

.aside_curiosities {
    z-index: 10;
    width: 55dvw;
    max-width: 400px;
}

.aside_curiosities img {
    position: sticky;
    top: 0;
    display: flex;
    margin: 20px;
    padding: 7px;
    width: 40px;

    background-image: linear-gradient(var(--dark-blue), transparent, var(--dark-blue));
    border-radius: 20px;
    box-shadow: 0 0 4px black;
}

.aside_curiosities img:hover, .aside_curiosities img:active {
    opacity: .7;
    box-shadow: 0 0 4px var(--medium-blue);
}

input[type=checkbox] {
    display: none;
}

.curiosities_container {
    display: none;
    position: absolute;
    z-index: 10;
    
    width: 55dvw;
    height: 85dvh;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--dark-blue);
    
    box-shadow: 5px 5px 100px black;
    border-radius: 25px
}

input[type=checkbox]:checked ~ .curiosities_container {
    display: block;
}

.curiosity {
    margin: 10px auto;
    padding: 10px;

    border-radius: 25px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    box-shadow: 0 0 7px var(--dark-blue);
}

.curiosity:hover, .curiosity:active {
    opacity: .7;
}

/* --------------->>> FLIPPING CARD <<<--------------- */

.flipping-card {
    position: relative;
    max-width: clamp(300px, 50%, 380px);
    margin: auto;
    margin-bottom: 30px;

    background-color: transparent;
    background-image: radial-gradient(var(--medium-blue), transparent);
    border-radius: 10px;
    filter: drop-shadow(0 0 3px black);
}

.card_front, .card_back {
    backface-visibility: hidden;

    color: var(--light-blue);
    background-image: linear-gradient(transparent, var(--dark-blue));
    border-radius: 30px;
}

.card_front {
    transform: perspective(900px) rotateY(0deg);
}

.flipping-card:hover .card_front, .flipping-card:active .card_front {
    transform: perspective(900px) rotateY(180deg);

    transition: transform 1.5s;
}

.flipping-card:hover .card_back, .flipping-card:active .card_back {
    transform: perspective(900px) rotateY(360deg);

    transition: transform 1.5s;
}

/* --------------->>> CARD-FONT <<<--------------- */

.card_img {
    overflow: hidden;
}

.card_img img {
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}

.card_data {
    padding: 12px;
    font-size: 1em;
}

.card_data span {
    font-weight: bold;
}

/* --------------->>> CARD-BACK <<<--------------- */

.card_back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;

    transform: perspective(900px) rotateY(180deg);
}

.card_back h2 {
    margin: 0 0 5px 23px;
    font-size: 1em;
}

.skill_container {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
    
    font-size: 0.9em;
    list-style: none;
}

.skill-box {
    width: 60%;
    padding: 7px;

    color: var(--dark-blue);
    font-size: 0.7em;
    border: 2px solid var(--light-blue);
    border-radius: 9px;
}

.skill_box-bar {
    padding: 6px;

    background-color: var(--light-blue);
    border-radius: 6px;
}

.bar-95 {
    width: 85%;
}

.bar-92 {
    width: 80%;
}

.bar-82 {
    width: 77%;
}

.bar-79 {
    width: 72%;
}

.bar-100 {
    width: 92%;
}

/* --------------->>> MUSIC SECTION <<<--------------- */

.music_section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.music_section audio {
    filter: drop-shadow(0 0  40px black);

    transition: filter 0.5s;
}

audio:hover, audio:active {
    filter: drop-shadow(0 0 20px var(--medium-blue));
}

/* --------------->>> GALLERY SECTION <<<--------------- */

.gallery_container {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(2, 1fr);

    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding: 0 20px 40px 20px;
}

.image_container:nth-child(11n+1) {
    grid-column: span 1;
}

.image_container:nth-child(11n+4) {
    grid-column: span 1;
    grid-row: span 2;
}

.image_container:nth-child(11n+6) {
    grid-column: span 2;
    grid-row: span 2;
}

.image_container:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.image_container:nth-child(11n+9) {
    grid-row: span 2;
    
}

.image_container .image {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
    opacity: .9;

    transition: opacity 0.7s, outline 0.5s;
}

.image_container .image:hover, .image:active {
    opacity: 0.4;
    outline: 7px solid var(--dark-blue);
}

/* --------------->>> FOOTER SECTION <<<--------------- */

.footer {
    padding: 20px;

    background-image: linear-gradient(transparent, #000d);
}

.footer h2 {
    text-align: right;
    color: var(--light-blue);
}