* {
    scrollbar-width: thin;
}

body, div, a, h1, h2, h3, label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --dark-blue: #142157;
    --medium-blue: #107acc;
    --light-blue: #def7ff;
    font-family: Georgia;

    height: 100dvh;
    max-width: 900px;
    margin: auto;
    margin-top: 10px;

    background-image: linear-gradient(#0006, transparent), url(images/fondo.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* --------------->>> MAIN SECTION <<<--------------- */
/* --------------->>> QUOTE SECTION <<<--------------- */

.quote_container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90dvw;
    max-width: 800px;
    margin: 30px auto;
    padding: 7px;

    background-image: linear-gradient(transparent 40%, var(--dark-blue));
    border-radius: 20px;
}

.quote_container  img {
    position: cover;
    margin: 0 20px;
    width: 10dvw;
    max-width: 40px;
}

.quote_container p {
    font-size: 1rem;
    color: var(--light-blue);
}

/* --------------->>> FLIPPING CARD <<<--------------- */

.flipping-card {
    position: relative;
    max-width: clamp(300px, 50%, 400px);
    margin: auto;
    margin-bottom: 30px;

    background-color: transparent;
    background-image: radial-gradient(var(--medium-blue), transparent);
    border-radius: 10px;
    filter: drop-shadow(0 0 3px black);
}

.card_front, .card_back {
    backface-visibility: hidden;

    color: var(--light-blue);
    background-image: linear-gradient(transparent, var(--dark-blue));
    border-radius: 30px;
}

.card_front {
    transform: perspective(900px) rotateY(0deg);
}

.flipping-card:hover .card_front, .flipping-card:active .card_front {
    transform: perspective(900px) rotateY(180deg);

    transition: transform 1.5s;
}

.flipping-card:hover .card_back, .flipping-card:active .card_back {
    transform: perspective(900px) rotateY(360deg);

    transition: transform 1.5s;
}

/* --------------->>> CARD-FONT <<<--------------- */

.card_img {
    overflow: hidden;
}

.card_img img {
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}

.card_data {
    padding: 12px;
    font-size: 1em;
}

.card_data span {
    font-weight: bold;
}

/* --------------->>> CARD-BACK <<<--------------- */

.card_back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;

    transform: perspective(900px) rotateY(180deg);
}

.card_back h2 {
    margin: 0 0 5px 23px;
    font-size: 1em;
}

.skill_container {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
    
    font-size: 0.9em;
    list-style: none;
}

.skill-box {
    width: 60%;
    padding: 7px;

    color: var(--dark-blue);
    font-size: 0.7em;
    border: 2px solid var(--light-blue);
    border-radius: 9px;
}

.skill_box-bar {
    padding: 6px;

    background-color: var(--light-blue);
    border-radius: 6px;
}

.bar-95 {
    width: 90%;
}

.bar-92 {
    width: 87%;
}

.bar-84 {
    width: 79%;
}

.bar-85 {
    width: 82%;
}

.bar-100 {
    width: 95%;
}

/* --------------->>> MUSIC SECTION <<<--------------- */

.music_section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.music_section audio {
    filter: drop-shadow(0 0  40px black);

    transition: filter 0.5s;
}

audio:hover, audio:active {
    filter: drop-shadow(0 0 20px var(--medium-blue));
}

/* --------------->>> GALLERY SECTION <<<--------------- */

.gallery_container {
    container-name: gallery;
    container-type: inline-size;

    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(2, 1fr);

    gap: 15px;
    max-width: 800px;
    margin: auto;
    padding: 0 20px 40px 20px;
}

.image_container {
    position: relative;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

    color: var(--medium-blue);
    font-weight: bold;
}

.image_container span {
    position: absolute;

    padding: 0 5px;
}

.image_container img {
    box-shadow: 0 0 5px black;
}

.image_container:nth-child(11n+1) {
    grid-column: span 1;
}

.image_container:nth-child(11n+4) {
    grid-column: span 1;
    grid-row: span 2;
}

.image_container:nth-child(11n+6) {
    grid-column: span 2;
    grid-row: span 2;
}

.image_container:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.image_container:nth-child(11n+9) {
    grid-row: span 2;
    
}

.image_container .image {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    object-fit: cover;
    opacity: .9;

    transition: opacity 0.7s, outline 0.5s;
}

.image_container .image:hover, .image:active {
    opacity: 0.2;
    outline: 7px solid var(--dark-blue);
}

/* --------------->>> GALLERY QUERIES <<<--------------- */

@media screen and (min-width: 600px) {
    .gallery_container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .image_container:nth-child(11n+1) {
        grid-column: span 2;
    }
    
    .image_container:nth-child(11n+4) {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .image_container:nth-child(11n+6) {
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .image_container:nth-child(11n+7) {
        grid-column: span 1;
        grid-row: span 2;
    }
    
    .image_container:nth-child(11n+9) {
        grid-row: span 2;    
    }
}

/* --------------->>> FOOTER SECTION <<<--------------- */

.footer {
    padding: 30px;

    background-image: linear-gradient(transparent, #000d);
}

.footer h2 {
    text-align: right;
    font-size: 1.2em;

    color: var(--light-blue);
}